<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="google" content="notranslate">
	<meta http-equiv="Content-Language" content="en">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>MVC With Burgers!</title>


</head>

<body>
	<div>
		<div style="display: flex">
			<div style="margin:auto;">
				<div class="mainImage" style="text-align:center;">
					<image
						src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRgiNpXJcf_PDsydjwuEzqeBsz0rqPPoSqUUhollv3kMfkKRAYN&usqp=CAU">
						<h1>Burgers!</h1>
					</image>

				</div>
			</div>
		</div>
	</div>
	{{{ body }}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
</body>

</html>